.App {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerRelogio {
  width: 600px;
  background-color: var(--branco);
  opacity: 0.9;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 1px 3px 8px rgb(0, 0, 0, 0.5);
}

.relogio {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}